.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.field {
    border: 1px solid black;
    width: 370px;
    height: 370px;
    margin: 15px auto;
}
.tries {
    text-align: center;
}
.btn {
    display: block;
    margin: 0 auto;
}
.squares {
    text-align: center;
    margin-top: 18px;
}
.square{
    display: inline-block;
    background: darkgray;
    width: 50px;
    height: 50px;
    margin: 0 2px;
    padding: 0;
    border: 1px solid black;
    position: relative;
}
.star{
    position: absolute;
    bottom: -20%;
    left: 40%;
    font-size: 20px;
    color: darkgray;
    cursor: default;
    pointer-events: none;
}